<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<title>Dashboard Condensador</title>
<script src="https://cdn.tailwindcss.com"></script>


<script>
const SUPABASE_URL =
"https://cyrrotinqlcnfemozcza.supabase.co";

const SUPABASE_KEY =
"sb_publishable_qMdTi6lG1PvNnFieKQH-HA_382sdugb";

function supaHeaders() {
    return {
        "apikey": SUPABASE_KEY,
        "Authorization": "Bearer " + SUPABASE_KEY,
        "Content-Type": "application/json",
        "Prefer": "return=minimal"
    };
}

</script>

</head>

<body class="bg-gray-900 text-white">

<div class="min-h-screen flex justify-center">

    <div class="w-full max-w-7xl p-6">

    <!-- HEADER -->
    <div class="mb-6">
        <h1 class="text-3xl font-bold">💧 Sistema de Condensación</h1>

        <p id="estadoSistema" class="text-lg font-semibold text-green-400">
            Estado: --
        </p>

        <p id="modo" class="text-lg">
            Modo: --
        </p>
    </div>

    <!-- GRID DATOS -->
<div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-4 gap-4">

        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>🌡️ Temp Exterior</p><h2 id="tExt">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>💧 Humedad Exterior</p><h2 id="hExt">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>🌡️ Temp Interior</p><h2 id="tInt">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>💧 Humedad Interior</p><h2 id="hInt">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>❄️ Placa Fría 1</p><h2 id="c1">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>❄️ Placa Fría 2</p><h2 id="c2">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>❄️ Promedio Placas</p><h2 id="c12">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>🎛️ Energía en Peltiers</p><h2 id="pwm">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>⚡ Corriente en Peltiers</p><h2 id="corriente">--</h2></div>
        <div class="bg-gray-800 p-4 rounded-xl shadow-xl border border-gray-700"><p>💧 Punto de Rocío</p><h2 id="rocio">--</h2>
</div>
    </div>

    <!-- CONFIG ACTUAL -->
    <div id="configActual"
        class="mt-6 mb-4 text-center bg-gray-800 p-5 rounded-2xl shadow-lg">

    <h3 class="text-lg text-gray-400 mb-2">⚙️ Configuración Activa</h3>

    <div id="configContenido" class="text-2xl font-bold text-white">
        --
    </div>

    </div>

    <!-- CONTROL -->
    <div class="mt-8 bg-gray-800 p-6 rounded-2xl shadow-2xl border border-gray-700">

        <h2 class="text-2xl font-bold mb-6 text-center">
            🎛️ Control del Sistema
        </h2>

        <!-- INDICADOR -->

        <div id="modoIndicator"
            class="p-3 rounded-xl text-center font-bold mb-6 bg-blue-600">
            MODO MANUAL
        </div>

        <div class="mb-6 flex flex-col items-center">

            <label
                for="nombreExp"
                class="
                    mb-2
                    text-base
                    font-bold
                    text-cyan-300
                    tracking-wide
                ">

                🧪 Nombre del experimento

            </label>

            <input
                id="nombreExp"
                type="text"
                maxlength="10"
                autocomplete="off"
                spellcheck="false"

                class="
                    w-56
                    bg-gray-800
                    border-2 border-cyan-500
                    focus:border-cyan-300
                    focus:ring-4 focus:ring-cyan-500/40

                    text-white
                    text-center
                    uppercase
                    tracking-widest
                    font-semibold

                    rounded-xl
                    px-4
                    py-2

                    outline-none
                    transition-all
                    duration-200

                    shadow-lg
                "

                placeholder="EXP01">

            <p class="text-base text-gray-400 mt-2">
                Máximo 10 caracteres
            </p>

        </div>

        <!-- DESCRIPCIÓN -->
<div class="
    mb-6
    bg-gray-700/60
    border border-gray-600
    rounded-xl
    p-4
    text-sm
    text-gray-300
    text-center
    leading-relaxed
">

    <span class="text-cyan-300 font-semibold">
        Configuración del experimento:
    </span>

    Ajuste los parámetros de operación del sistema antes de iniciar el experimento.
    En modo manual se controla directamente la potencia aplicada a las celdas Peltier,
    mientras que en modo automático el sistema utiliza los parámetros KP y KI para regular el proceso de condensación.
    Los controles de flujo de aire permiten configurar la ventilación de la cámara interna y la disipación de calor del sistema.
    También es posible establecer una humedad objetivo y la frecuencia de registro de datos experimentales.
    Una vez configurado el sistema, los botones inferiores permiten iniciar o detener el experimento,
    así como descargar y eliminar los datos almacenados en formato CSV.

</div>

        <!-- BOTONES -->
        <div class="flex justify-center gap-4 mb-6">
            <button id="btnManual" class="px-4 py-2 bg-blue-600 rounded-xl">Manual</button>
            <button id="btnAuto" class="px-4 py-2 bg-gray-600 rounded-xl">Automático</button>
        </div>

        <!-- GRID -->
        <div class="grid md:grid-cols-3 gap-6">

            <!-- MANUAL -->
            <div id="manualBox" 
            class="bg-gray-700 p-4 rounded-xl flex flex-col items-center">
                <h3 class="mb-3 font-semibold text-blue-400">Manual (0 - 100%)</h3>

            <label>Energía en Peltiers (%)</label>

            <input
                id="pwmControl"
                type="number"
                min="0"
                max="100"
                value="0"

                class="
                    w-full
                    max-w-sm
                    text-black
                    p-2
                    rounded
                ">
            </div>

            <!-- AUTO -->
            <div id="autoBox" 
            class="bg-gray-700 p-4 rounded-xl flex flex-col items-center">
                <h3 class="mb-3 font-semibold text-green-400">Automático</h3>

                <label>KP</label>
                <input
                    id="kp"
                    type="number"

                    min="0"
                    max="20"
                    step="0.1"

                    inputmode="decimal"

                    class="w-full p-2 mb-2 max-w-sm text-black rounded"

                    value="0">

                <label>KI</label>
                <input
                    id="ki"
                    type="number"

                    min="0"
                    max="5"
                    step="0.01"

                    inputmode="decimal"

                    class="w-full p-2 max-w-sm text-black rounded"

                    value="0">
            </div>

            <!-- VENTILADORES -->
            <div class="bg-gray-700 p-4 rounded-xl flex flex-col items-center">
                <h3 class="mb-3 font-semibold text-yellow-400">🌬️ Flujo de Aire (0 - 100%)</h3>

            <label>Flujo de Aire Cámara Interna (%)</label>

            <input
                id="velA"
                type="number"
                min="0"
                max="100"
                value="0"

                class="
                    w-full
                    max-w-sm
                    text-black
                    p-2
                    rounded
                    mb-3
                ">                

            <label>Flujo de Aire Disipación de Calor (%)</label>

            <input
                id="velB"
                type="number"
                min="0"
                max="100"
                value="0"

                class="
                    w-full
                    max-w-sm
                    text-black
                    p-2
                    rounded
                ">

            </div>

        <div class="bg-gray-700 p-4 rounded-xl flex flex-col items-center">
            <h3 class="mb-3 font-semibold text-cyan-400">💧 Control de Humedad (0 - 100%)</h3>

            <label>Humedad objetivo (%)</label>
            <input id="humedadObjetivo" type="number" min="0" max="100" class="w-full max-w-sm text-black p-2 rounded">
        </div>

        <div class="bg-gray-700 p-4 rounded-xl flex flex-col items-center">
            <h3 class="mb-3 font-semibold text-purple-400">
                ⏱️ Registro de Datos
            </h3>

            <label>Frecuencia de guardado (10-100 s)</label>

            <input
                id="tserial"
                type="number"
                min="10"
                max="100"
                value="15"
                class="w-full max-w-sm text-black p-2 rounded">
        </div>
        
        </div>

        <!-- BOTONES -->
        <div class="mt-6 text-center flex justify-center gap-4">
            <button onclick="iniciarExperimento()"
                class="bg-green-600 px-6 py-2 rounded-xl">
                Iniciar
            </button>

            <button
                id="btnDetener" 
                onclick="detenerExperimento()"
                class="bg-red-600 px-6 py-2 rounded-xl">
                Detener
            </button>

            <button onclick="descargarCSV()"
                class="bg-yellow-600 px-6 py-2 rounded-xl">
                Descargar CSV
            </button>
            <button onclick="borrarDatos()"
                id="btnBorrar"
                class="bg-gray-600 px-6 py-2 rounded-xl"
                disabled>
                Borrar Datos
            </button>
        </div>

    </div>

</div>

<script>

// =========================
// VARIABLES
// =========================
let modoActual = 1;
let configActual = {};
let sistemaOnline = false;

// =========================
// VALIDAR INPUTS
// =========================
function limitarInput(input, min, max) {

    let valor = parseFloat(input.value);

    // vacío
    if (isNaN(valor)) {
        valor = min;
    }

    // límites
    if (valor < min) valor = min;
    if (valor > max) valor = max;

    input.value = valor;
}

// =========================
// LIMPIAR NUMÉRICO
// =========================
function limpiarNumerico(input) {

    // solo números y punto
    input.value =
        input.value.replace(/[^0-9.]/g, '');

    // evitar múltiples puntos
    let partes = input.value.split('.');

    if (partes.length > 2) {

        input.value =
            partes[0] + '.' + partes.slice(1).join('');
    }
}

// =========================
// LIMPIAR SENSORES
// =========================
function limpiarSensores() {

    tExt.innerText = "--";
    hExt.innerText = "--";

    tInt.innerText = "--";
    hInt.innerText = "--";

    c1.innerText = "--";
    c2.innerText = "--";
    c12.innerText = "--";

    pwm.innerText = "--";

    corriente.innerText = "--";

    rocio.innerText = "--";
}

// =========================
// PWM → %
// =========================
function pwmToPercent(valor) {

    return Math.round((valor / 255) * 100);
}

// =========================
// BLOQUEO TOTAL UI
// =========================
function bloquearUI(bloquear) {

    // 🔥 HUMEDAD OBJETIVO
    humedadObjetivo.disabled = bloquear;

    // INPUT
    document.getElementById("nombreExp").disabled = bloquear;

    // CONTROLES
    pwmControl.disabled = bloquear;
    kp.disabled = bloquear;
    ki.disabled = bloquear;
    velA.disabled = bloquear;
    velB.disabled = bloquear;
    tserial.disabled = bloquear;

    // BOTONES MODO
    btnManual.disabled = bloquear;
    btnAuto.disabled = bloquear;

    // BOTONES START/STOP
    const btnStart = document.querySelector('button[onclick="iniciarExperimento()"]');
    const btnStop  = document.querySelector('button[onclick="detenerExperimento()"]');

    btnStart.disabled = bloquear;

    // 🔥 lógica correcta
    if (!sistemaOnline) {
        btnStop.disabled = true; // 🔴 sin conexión → NO detener
    } else {
        btnStop.disabled = !bloquear; // solo activo en experimento
    }

}

// =========================
// VALIDACIÓN INPUTS
// =========================

// ---------- LIMPIAR EN TIEMPO REAL ----------
pwmControl.oninput =
() => limpiarNumerico(pwmControl);

velA.oninput =
() => limpiarNumerico(velA);

velB.oninput =
() => limpiarNumerico(velB);

humedadObjetivo.oninput =
() => limpiarNumerico(humedadObjetivo);

tserial.oninput =
() => limpiarNumerico(tserial);

kp.oninput =
() => limpiarNumerico(kp);

ki.oninput =
() => limpiarNumerico(ki);

// ---------- VALIDAR LÍMITES ----------
pwmControl.onchange =
() => limitarInput(pwmControl, 0, 100);

velA.onchange =
() => limitarInput(velA, 0, 100);

velB.onchange =
() => limitarInput(velB, 0, 100);

humedadObjetivo.onchange =
() => limitarInput(humedadObjetivo, 0, 100);

tserial.onchange =
() => limitarInput(tserial, 10, 100);

kp.onchange =
() => limitarInput(kp, 0, 20);

ki.onchange =
() => limitarInput(ki, 0, 5);

// =========================
// BOTONES MODO (PROTEGIDOS)
// =========================
btnManual.onclick = () => {
    if (configActual.estado_control == 1) return;
    modoActual = 1;
    actualizarModoUI();
};

btnAuto.onclick = () => {
    if (configActual.estado_control == 1) return;
    modoActual = 0;
    actualizarModoUI();
};

// =========================
// UI MODO
// =========================
function actualizarModoUI() {

    if (modoActual == 1) {
        modoIndicator.innerText = "MODO MANUAL";
        modoIndicator.className = "p-3 rounded-xl text-center font-bold mb-6 bg-blue-600";

        pwmControl.disabled = false;
        velA.disabled = false;
        velB.disabled = false;
        kp.disabled = true;
        ki.disabled = true;

        kp.value = 0;
        ki.value = 0;

        manualBox.style.opacity = "1";
        autoBox.style.opacity = "0.4";

    } else {
        modoIndicator.innerText = "MODO AUTOMÁTICO";
        modoIndicator.className = "p-3 rounded-xl text-center font-bold mb-6 bg-green-600";

        pwmControl.disabled = true;
        velA.disabled = false;
        velB.disabled = false;
        kp.disabled = false;
        ki.disabled = false;

        pwmControl.value = 0;


        manualBox.style.opacity = "0.4";
        autoBox.style.opacity = "1";
    }
}


// =========================
// DATOS (LIVE)
// =========================
async function cargarDatos() {

    try {
            
        
    if (!sistemaOnline) return;

    const res = await fetch(
    `${SUPABASE_URL}/rest/v1/live_data?id=eq.1&select=*`,
    {
        headers: supaHeaders()
    }
    );

    const data = await res.json();

    if (!data || data.length === 0) return;

    const live = data[0];

    
    tExt.innerText = live.text + " °C";
    hExt.innerText = live.hext + " %";
    tInt.innerText = live.tint + " °C";
    hInt.innerText = live.hint + " %";

    c1.innerText = live.c1 + " °C";
    c2.innerText = live.c2 + " °C";
    c12.innerText = live.c12 + " °C";

    pwm.innerText = (Number(live.pwm) * 100 / 255).toFixed(1) + " %";
    corriente.innerText = live.corriente + " A";
    rocio.innerText = live.puntorocio + " °C";

        // 🔥 ESTADO REAL DEL ARDUINO (DESDE /live)
    if (live.estado == 4) {
        estadoSistema.innerText = "🟠 ESPERANDO HUMEDAD";
        estadoSistema.className = "text-orange-400 font-bold";
    }
    else if (live.estado == 1) {
        estadoSistema.innerText = "🔴 SOBRECORRIENTE";
        estadoSistema.className = "text-red-500 font-bold";
    }
    else if (live.estado == 2) {
        estadoSistema.innerText = "🟠 ALTA TEMPERATURA";
        estadoSistema.className = "text-orange-500 font-bold";
    }
    else if (live.estado == 3) {
        estadoSistema.innerText = "⚠️ ERROR SENSORES";
        estadoSistema.className = "text-yellow-400 font-bold";
    }
    else if (live.estado == 0) {    
        if (configActual && configActual.estado_control == 1) {
        estadoSistema.innerText = "🔴 EJECUTANDO";
        estadoSistema.className = "text-red-400 font-bold";
    }
    else {
        estadoSistema.innerText = "🟢 REPOSO";
        estadoSistema.className = "text-green-400 font-bold";
    }
    }
    } catch (error) {

        console.log("Error cargarDatos:", error);
    }
}

// =========================
// CONFIG + CONTROL GLOBAL
// =========================
async function cargarConfig() {

    try {

        if (!sistemaOnline) {
            document.getElementById("modo").innerText = "Modo: --";
            return;
        }

        const res = await fetch('/config');

        const data = await res.json();

        configActual = data;


        let texto = "";

        const configContenido =
        document.getElementById("configContenido");

        const modoTexto =
        document.getElementById("modo");

        // =========================
        // CALCULAR MODO
        // =========================
        let nuevoModo;

        if (data.estado_control == 0) {

            nuevoModo = "Modo: --";

        } else {

            nuevoModo =
                data.modoManual == 1
                ? "Modo: Manual"
                : "Modo: Automático";
        }

        if (modoTexto.innerText !== nuevoModo) {
            modoTexto.innerText = nuevoModo;
        }

        // =========================
        // REPOSO
        // =========================
        if (data.estado_control == 0) {

            texto = `
                🟢 REPOSO<br>
                Sistema en espera
            `;

            configContenido.className =
            "text-2xl font-bold text-gray-400";

        } else {

            // =========================
            // MANUAL
            // =========================
            if (data.modoManual == 1) {

                texto = `
                    <div class="space-y-3 text-center">

                        <div class="text-blue-400 text-xl font-bold">
                            🟦 MODO MANUAL
                        </div>

                        <div>
                            ⚡ Energía en Peltiers:
                            <span class="font-mono text-yellow-300">
                                ${pwmToPercent(data.pwm)}%
                            </span>
                        </div>

                        <div>
                            🌬️ Flujo de aire en cámara:
                            <span class="font-mono text-yellow-300">
                                ${
                                    data.velA !== undefined &&
                                    data.velA !== null
                                    ? pwmToPercent(data.velA)
                                    : 0
                                }%
                            </span>
                        </div>

                        <div>
                            🔥 Flujo de aire en disipador de calor:
                            <span class="font-mono text-yellow-300">
                                ${
                                    data.velB !== undefined &&
                                    data.velB !== null
                                    ? pwmToPercent(data.velB)
                                    : 0
                                }%
                            </span>
                        </div>

                        <div>
                            💧 Humedad objetivo:
                            <span class="font-mono text-yellow-300">
                                ${data.humedad_objetivo}%
                            </span>
                        </div>

                        <div>
                            ⏱️ Registro:
                            <span class="font-mono text-yellow-300">
                                ${data.tserial}s
                            </span>
                        </div>
                    </div>
                `;

                configContenido.className =
                "text-2xl font-bold text-blue-400";

            }

            // =========================
            // AUTOMÁTICO
            // =========================
            else {

                texto = `
                    <div class="space-y-3 text-center">

                        <div class="text-green-400 text-xl font-bold">
                            🟩 MODO AUTOMÁTICO
                        </div>

                        <div>
                            🎯 KP:
                            <span class="font-mono text-yellow-300">
                                ${data.kp}
                            </span>
                        </div>

                        <div>
                            🎯 KI:
                            <span class="font-mono text-yellow-300">
                                ${data.ki}
                            </span>
                        </div>

                        <div>
                            🌬️ Cámara:
                            <span class="font-mono text-yellow-300">
                                ${
                                    data.velA !== undefined &&
                                    data.velA !== null
                                    ? pwmToPercent(data.velA)
                                    : 0
                                }%
                            </span>
                        </div>

                        <div>
                            🔥 Zona caliente:
                            <span class="font-mono text-yellow-300">
                                ${
                                    data.velB !== undefined &&
                                    data.velB !== null
                                    ? pwmToPercent(data.velB)
                                    : 0
                                }%
                            </span>
                        </div>

                        <div>
                            💧 Humedad objetivo:
                            <span class="font-mono text-yellow-300">
                                ${data.humedad_objetivo}
                            </span>
                        </div>

                        <div>
                            ⏱️ Registro:
                            <span class="font-mono text-yellow-300">
                                ${data.tserial}s
                            </span>
                        </div>
                    </div>
                `;

                configContenido.className =
                "text-2xl font-bold text-green-400";
            }
        }

        // =========================
        // HTML
        // =========================
        configContenido.innerHTML = texto;

        // =========================
        // BOTONES
        // =========================
        document.getElementById("btnBorrar").disabled =
            !data.descargado;

        const btnDescargar =
        document.querySelector(
            'button[onclick="descargarCSV()"]'
        );

        btnDescargar.disabled =
            (data.estado_control == 1);

        // =========================
        // BLOQUEOS UI
        // =========================
        if (data.estado_control == 1) {

            bloquearUI(true);

        } else {

            bloquearUI(false);
        }

        // =========================
        // BOTÓN DETENER
        // =========================
        document.getElementById("btnDetener").disabled =
            (data.estado_control == 0);

    } catch (error) {

        console.log("Error cargarConfig:", error);
    }
}
// =========================
// INIT
// =========================
async function init() {

    const res = await fetch('/config');

    const data = await res.json();

    pwmControl.value =
    Math.round((data.pwm / 255) * 100);


    kp.value = data.kp;
    ki.value = data.ki;

    velA.value =
    data.velA != null
    ? pwmToPercent(data.velA)
    : 0;


    velB.value =
    data.velB != null
    ? pwmToPercent(data.velB)
    : 0;


    document.getElementById("humedadObjetivo").value =
    data.humedad_objetivo || 0;

    document.getElementById("tserial").value =
    data.tserial || 15;

    modoActual = data.modoManual;

    actualizarModoUI();
}

// =========================
// START (SUPABASE)
// =========================
async function iniciarExperimento() {

    if (!sistemaOnline) {
        alert("Dispositivo desconectado");
        return;
    }

    if (configActual.estado_control == 1) {
        alert("Ya está en ejecución");
        return;
    }

    const nombre =
    document.getElementById("nombreExp").value;

    // =========================
    // CONFIG EXPERIMENTO
    // =========================

    const config = {

        nombre: nombre || "exp",

        modomanual: modoActual,

        pwm:
        modoActual == 1
        ? Math.round((parseInt(pwmControl.value || 0) / 100) * 255)
        : 0,

        kp:
            modoActual == 0
            ? parseFloat(kp.value || 0)
            : 0,

        ki:
            modoActual == 0
            ? parseFloat(ki.value || 0)
            : 0,

        vela:
        Math.round((parseInt(velA.value || 0) / 100) * 255),

        velb:
        Math.round((parseInt(velB.value || 0) / 100) * 255),

        humedad_objetivo:
            parseFloat(humedadObjetivo.value || 0),

        tserial:
            parseFloat(tserial.value || 15)
    };

    // =========================
    // CREAR EXPERIMENTO
    // =========================
    const resExp = await fetch(
    `${SUPABASE_URL}/rest/v1/experimentos`,
    {
        method: 'POST',

        headers: {
            ...supaHeaders(),
            "Prefer": "return=representation"
        },

        body: JSON.stringify(config)
    });

    const expData = await resExp.json();

    const expID = expData[0].id;

    // =========================
    // ACTUALIZAR CONFIG_ACTUAL
    // =========================
    await fetch(
    `${SUPABASE_URL}/rest/v1/config_actual?id=eq.1`,
    {
        method: 'PATCH',

        headers: supaHeaders(),

        body: JSON.stringify({

            estado_control: 1,

            experimento_id: expID,

            modomanual: config.modomanual,

            pwm: config.pwm,

            kp: config.kp,

            ki: config.ki,

            vela: config.vela,

            velb: config.velb,

            humedad_objetivo:
                config.humedad_objetivo,

            tserial: config.tserial
        })
    });

    alert("Experimento iniciado 🚀");
}

// =========================
// STOP
// =========================
async function detenerExperimento() {

    // =========================
    // CERRAR EXPERIMENTO
    // =========================
    await fetch(
    `${SUPABASE_URL}/rest/v1/experimentos?fecha_fin=is.null`,
    {
        method: 'PATCH',

        headers: supaHeaders(),

        body: JSON.stringify({
            fecha_fin: new Date().toISOString()
        })
    });

    // =========================
    // REPOSO
    // =========================
    await fetch(
    `${SUPABASE_URL}/rest/v1/config_actual?id=eq.1`,
    {
        method: 'PATCH',

        headers: supaHeaders(),

        body: JSON.stringify({

            estado_control: 0,

            experimento_id: 0,

            pwm: 0,

            vela: 0,

            velb: 0,

            kp: 0,

            ki: 0,

            humedad_objetivo: 0,

            tserial: 15
        })
    });

    alert("Experimento detenido 🛑");
}

// =========================
// DESCARGAR
// =========================
function descargarCSV() {

    if (configActual.estado_control == 1) {
        alert("Primero debes detener el experimento");
        return;
    }

    window.open('/download', '_blank');
}

// =========================
// BORRAR DATOS
// =========================
async function borrarDatos() {

    if (!confirm("¿Seguro que quieres borrar los datos?")) return;

    const res = await fetch('/clear', { method: 'POST' });
    const data = await res.json();

    if (data.error) {
        alert(data.error);
        return;
    }

    alert("Datos eliminados");
}

// =========================
// VERIFICAR CONEXIÓN
// =========================
async function verificarConexion() {

    try {

        const res = await fetch(
        `${SUPABASE_URL}/rest/v1/live_data?id=eq.1&select=updated_at`,
        {
            headers: supaHeaders()
        }
        );

        const data = await res.json();

        if (!data || data.length === 0) {
            throw new Error("Sin datos");
        }

        const live = data[0];

        const ultimaActualizacion =
            new Date(live.updated_at).getTime();

        const ahora = Date.now();

        const diferencia =
            (ahora - ultimaActualizacion) / 1000;

        const configContenido =
        document.getElementById("configContenido");

        // =========================
        // OFFLINE
        // =========================
        if (diferencia > 20) {

            sistemaOnline = false;

            estadoSistema.innerText =
                "🔴 SIN CONEXIÓN";

            estadoSistema.className =
                "text-red-400 font-bold";

            configContenido.innerHTML = `
                🔴 SIN CONEXIÓN<br>
                Dispositivo no responde
            `;

            configContenido.className =
                "text-2xl font-bold text-red-400";

            bloquearUI(true);

            limpiarSensores();

            return;
        }

        // =========================
        // ONLINE
        // =========================
        sistemaOnline = true;

        if (configActual.estado_control == 1) {

            bloquearUI(true);

        } else {

            bloquearUI(false);
        }

    } catch (error) {

        sistemaOnline = false;

        estadoSistema.innerText =
            "🔴 SIN CONEXIÓN";

        estadoSistema.className =
            "text-red-400 font-bold";

        bloquearUI(true);

        limpiarSensores();
    }
}

// =========================
// LOOP
// =========================
window.onload = async () => {


    await verificarConexion();
    await init();
    await cargarConfig();
    await cargarDatos();

    setInterval(verificarConexion, 5000);
    setInterval(cargarConfig, 5000);
    setInterval(cargarDatos, 2000);
};

</script>

    </div>
</div>

</body>
</html>
